PORT=5000

WHATSAPP_ACCESS_TOKEN=PASTE_YOUR_META_ACCESS_TOKEN_HERE

WHATSAPP_PHONE_NUMBER_ID=PASTE_YOUR_PHONE_NUMBER_ID_HERE

WHATSAPP_VERIFY_TOKEN=CREATE_YOUR_OWN_RANDOM_VERIFY_TOKEN

WHATSAPP_GRAPH_VERSION=v23.0

WHATSAPP_TEMPLATE_NAME=skilltrack_outcome_check

WHATSAPP_TEMPLATE_LANGUAGE=en
